<script>
  $(function() {
    $('.new-lesson-button').click(function(event) {
      var sectionTitle = $(event.target).data('section-title');
      $('#newLessonButton').val("Add the lesson to " + sectionTitle);
      var lessonUrl = $(event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    });

    $('.lessons').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
    $('.sections').sortable({
      update: function(event, ui) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: {section: { row_order_position: ui.item.index() } }
        });
      }
    });
  });
  $(document).on('shown.bs.modal', '.modal', function() {
    $(this).find('[autofocus]').focus();
  });
</script>

<br />

<div class="sign-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <br />
  <%= image_tag current_course.image, class: 'img-fluid' %>
  <br />
  <%= link_to 'Preview as Student...', course_path(current_course), class: 'btn btn-secondary float-right' %>
  <br class="clr" />
  <br />
  <div class="text-center">
    <!-- Button trigger Section modal -->
    <button type="button" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#newSectionModal">
      Add a new section!
    </button>
  </div>
  <br />
  <ul class="sections grabbable">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
        <div class="header">
          <span class="fa fa-folder" aria-hidden="true"></span>
          &nbsp <%= section.title %>
          <!-- Button trigger Lesson modal -->
          <button type="button" class="btn btn-sm btn-warning float-right new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>" data-section-title="<%= section.title %>">
            New Lesson
          </button>
        </div>
        <ul class="lessons grabbable">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path(lesson) %>">
              <% if lesson.video.present? %>
                <span class="fa fa-file-video-o" aria-hidden="true"></span>
              <% else %>
                <span class="fa fa-file-word-o" aria-hidden="true"></span>
              <% end %> &nbsp
              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            </li>
          <% end %>
        </ul>
        <!-- <br class="clr" /> -->
      </li>
    <% end %>
  </ul>
</div>

<!-- Modal for sections -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSectionModalLabel">Add a new section</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f| %>
        <div class="modal-body">
          <%= f.input :title, required: true, autofocus: true %>
          <br />
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add Section", class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal for lessons -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newLessonModalLabel">Add a new lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @lesson, url: '#', html: {id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
          <%= f.input :title, required: true, autofocus: true %>
          <%= f.input :subtitle, required: true %>
          <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, "Add the lesson", id: 'newLessonButton', class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--#{current_section.title}-->