<br />

<div class="sign-box col-10 offset-1">
  <h1>Enrolled Couses</h1>
  <% current_user.enrolled_courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h3>
    <br />
    <%= image_tag course.image, class: 'img-fluid' %>
    <br /> 
    <div class="row">
      <div class="col-12 col-md-8">
      <%= course.description %>
      </div>
      <div class="col-12 col-md-4 text-center">
      <%= link_to "Resume Course", course_path(course), class: 'btn btn-lg btn-warning' %>
      </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>

  <h1>Courses I'm Teaching</h1>
  <% current_user.courses.each do |course| %>
    <h3 class="text-center">
      <%= link_to course.title, instructor_course_path(course) %>
    </h3>
    <br />
    <%= image_tag course.image, class: 'img-fluid' %>
    <div class="row">
      <div class="col-12 col-md-8">
        <%= course.description %>
      </div>
      <div class="col-12 col-md-4 text-center">
        <%= link_to "Modify Course", instructor_course_path(course), class: 'btn btn-lg btn-danger' %>
      </div>
    </div>
    <br />
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>
</div>