<br />

<div class="sign-box col-10 offset-1">
  <h1><%= @course.title %></h1>
  <br />
  <%= image_tag @course.image, class: 'img-fluid' %>
  <br /><br />
  <div class="row">
    <div class="col-sm-4 col-12 text-center">
      <span class="badge badge-default">
        <%= number_to_currency @course.cost %>
      </span>
      <% if current_user && current_user == @course.user %>
        <br />
        <br />
        <%= link_to 'Modify my course', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
      <% end %>
      <br />
      <br />
      <% if current_user && current_user.enrolled_in?(@course) %>
        <h3 class="badge badge-info">You are Enrolled!</h3>
      <% else %>
        <%= link_to 'Enroll for this course', course_enrollments_path(@course), class: 'btn btn-warning', method: :post %>
      <% end %>
    </div>

    <div class="col-sm-8 col-12">
      <%= @course.description %>
    </div>
  </div>
  <br />
  <div class="col-12">
    <% @course.sections.each do |section| %>
      <div class="section text-center">
        <h3><%= section.title %></h3>
        <br />
        <div class="row">
          <% section.lessons.each do |lesson| %>
            <div class="col-12 col-sm-6">
              <div class="lesson">
                <%= link_to lesson_path(lesson) do %>
                  <b><%= lesson.title %></b>
                  <hr />
                  <%= lesson.subtitle %>
                <% end %>
              </div>
              <br />
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>